@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.bg{
    background-color: #f5f7fa;
}
button{
    background-color: transparent;
    border-color: #ff9f00;
    height: 45px;
    width: 130px;
    border-width: 3px;
    color: #ff9f00;
    font-family: "Roboto";
    font-weight: 600;
    margin-left:180px;
    margin-top: 20px;
    margin-bottom: 30px;
}

h1{
    color: #183b56;
    font-size: 35px;
    font-family: "Roboto";
    font-weight: 600;
    margin-left: 100px;
    margin-top: 30px;
    
    
}
