@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.bg{
    background-image: linear-gradient(to right, #f49541, #dd5d97);
    height: auto;

}

.image1{
    height: auto;
    width: 180px;
    object-fit: contain;
    
}
@media (max-width: 767px) {
  .image1 {
    width: 300px;
    margin-bottom: -36px;
/* bigger only on mobile */
  }
}

.image2{
    height:450px ;
    width: 100%;
    object-fit: contain;
}

h1{
    color: #ad2167;
    font-family: "Roboto";
    font-weight: 600;
    margin-top: 10px;
    margin-left: 8px;
    object-fit: contain;
}

p{
    color: white;
    font-family: "Roboto";
    font-size: 25px;
    margin-left: 8px;
}

.seven{
    font-style: italic;
    font-weight: 800;
}

.image3{
    height: 180px;
    width: 100%;
    object-fit: contain;
    
}

