@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.image{
    background-image:url("https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/ecommerce-products-headphones-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.image2{
    background-image:url("https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/ecommerce-products-laptops-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.card{
    height: 350px;
    width: 350px;
    border-radius: 10px;
}

h1{
    color: #183b56;
    font-family: "Roboto";
    font-size: 35px;
    font-weight: 600;
    margin-top: 10px;
}

h2{
    color: white;
    font-family: "Roboto";
    width: 195px;
    margin-left: 10px;
    font-weight:600 ;
}

p{
     color: white;
    font-family: "Roboto";
    width: 195px;
    margin-left: 10px;
    font-weight:400 ;
}

.buttonclass{
    background-color: white;
    color: #ff9f00;
    height: 50px;
    width: 130px;
    font-family: "Roboto";
    font-weight: 600;
    border-radius: 20px;
    border-width: 0px;
     margin-left: 10px;
}

.paragraph{
    color: #323f4b;
    width: auto;
}

span{
    font-weight: 600;
}

