@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.image {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;
    max-width: 500px;
    margin: 0px;
    padding-bottom: 20px;
}
.image2 {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;
    max-width: 500px;
    margin: 0px;
    padding-bottom: 20px;
}

h1{
    font-family: "Roboto";
    color: white;
    padding-left: 10px;
}

p{
    font-family: "Roboto";
    color: white;
    padding-left: 10px;
}

button{
    border-color: white;
    background-color: transparent;
    color: white;
    font-family: "Roboto";
    border-width: 2px;
    width: 150px;
    height: 50px;
    border-radius: 8px;
     margin-left: 10px;
    
}
.view{
    background-color: #1754a1;
    color: white;
    font-family: "Roboto";
    border-width: 0px;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 60px; 
    margin-top: 10px;
    margin-right: 15px;
    
}
