@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg {
    background-color: #19232D;
}

.image {
    height: 50px;
    width: 75px;
    margin-top: 45px;

}
.logo {
    font-size: 30px;
    color: #5a7184;
    background-color: #202b36;
    margin-top: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 45px;
    border-radius: 40px;
    
}

p{
      color: #5a7184;
      font-weight: 700;
      text-align: center;
      margin-top: 25px;
      font-size: 15px;
}

.logo2{
    font-size: 22px;
     color: #5a7184;
     padding-right: 8px;
     margin-top: 10px;
}

.paragraph{
    color: #5a7184;
      font-weight: 500;
      font-size: 18px;
      margin-top: -2px;
      margin-left: -7px;
      
}

h5{
    color: #5a7184;
    font-size: 28px;
    margin-left: 15px;
}
.paragraph2{
    color: #5a7184;
      font-weight: 500;
      font-size: 18px;
      margin-top: -8px;
      margin-left: -4px;
      
}
